@import 'tailwindcss';

@config '../tailwind.config.js';

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary;
  }
  .h1 {
    @apply text-2xl leading-[1.15] font-bold md:text-3xl;
  }
  .h2 {
    @apply text-xl leading-tight font-bold md:text-2xl;
  }
  .h3 {
    @apply text-md leading-tight font-bold md:text-lg;
  }
}

.section-padding-primary {
  @apply py-15 md:py-25 xl:py-30;
}

::selection {
  text-shadow: none;
  @apply bg-primary text-white;
}

* {
  scroll-behavior: smooth !important;
}
@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

  --color-primary: #ff5000;
  --color-primary-light: #ffc199;

  --color-accent-100: #f5f4fa;
  --color-accent-200: #e3e3e3;
  --color-accent-300: #fbf3f2;
  --color-accent-700: #1a1a1c;
  --color-accent-800: #616670;
  --color-accent-900: #141416;

  --color-body: #bebebe;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
}
